[Unit]
Description=A python client for WATT CHECKER (REX-BTWATTCH1).
Documentation=
After=

[Service]
Restart=always
User=pi
WorkingDirectory=/home/pi/VSCode/BtWattCheckerMonitor
ExecStart=python3 main.py
#ExecStop=/bin/kill -SIGINT $MAINPID
StandardOutput=null
StandardError=journal
TimeoutStopSec=20s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
